language: android

android:
    components:
        - tools
        - build-tools-25.0.1
        - android-25
        - extra-google-google_play_services
        - extra-google-m2repository
        - extra-android-m2repository
        - platform-tools

notifications:
    email: false

script:
    - jdk_switcher use oraclejdk8
    - export GRADLE_OPTS="-Xmx1536m -Xms768m -Xss32m"
    - ./gradlew clean build
    - cat /home/travis/build/ragnor-rs/sklad/lib/build/reports/tests/testDebugUnitTest/debug/classes/io.reist.sklad.FileStorageTest.html

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

before_script:
    - sudo service postgresql stop || true
    - sudo service mysql stop || true
    - sudo service memcached stop || true
    - sudo service bootlogd stop || true
    - sudo service elasticsearch stop || true
    - sudo service mongodb stop || true
    - sudo service neo4j stop || true
    - sudo service cassandra stop || true
    - sudo service riak stop || true
    - sudo service rsync stop || true
    - sudo service x11-common stop || true
